

@media screen and (max-width: 1000px) {

    h2 {
        font-size: 1rem;
    }


    .sidebar {
        display:block;
        position: static ;
        margin-inline: auto;
        width: 60%;
    }

    .sidebar .DisplayVevsTime {
        width: 30%;
        /* min-width: 125px; */
        /* text-align: right; */
    }






    .footerLinks, footer, #colorDiv {
        display: none;
    }

    


}