

@media screen and (max-width: 1000px) {

    h1 {
        font-size: 3.5rem;
    }


    .sidebar {
        display:block;
        position: static ;
        margin-inline: auto;
        width: 80vw;
        /* font-size: ; */
    }


}