

@media screen and (max-width: 1000px) {

    h2 {
        font-size: 1rem;
    }


    .main-content {
        background: #2b303a;
        display: flex;
        align-items: center;
        flex-direction: column;
        width: 13rem;
        height: auto;
        padding: 2rem;
        margin-inline: auto;
        margin: 10vh auto;
    }

    .sidebar {
        display:block;
        position: static ;
        margin-inline: auto;
        width: 80%;
        margin-bottom: 3rem;
        margin-top: 3rem;
    }

    .sidebar .DisplayVevsTime {
        width: 30%;
        /* min-width: 125px; */
        /* text-align: right; */
    }



    #colorDiv, .footerLinks {
        display: none;
    }

    


}