@import url('https://fonts.googleapis.com/css2?family=Lumanosimo&display=swap');

/* CSS */
/* ... (dropdown styles) */

/* ---------------------------------------------- */

body {
  background: #111317;
  color: #ffffff;
  font-family: SourceSansPro, -apple-system, system-ui;
}

.main-content {
  background: #2b303a;
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 13rem;
  height: 17.2rem;
  padding: 2rem;
  margin: 18vh auto;
}

h1 {
  font-family: Lumanosimo;
  margin-top: 0;
}

h3 {
  margin-bottom: 0;
}

button {
  background-color: #424242;
  text-decoration: none;
  padding: 5pt;
  font-size: 1.2rem;
  transition: all .3s ease;
  border: 3px solid var(--highlight1);
  border-radius: 3px;
  box-shadow: 4px 2px rgba(0, 0, 0, .533);
  position: relative;
}

.select-student-button {
  background: #fff;
  font-size: 1.15rem;
  display: flex;
  line-height: normal;
  width: 11.7rem;
  height: 2rem;
  text-align: center;
  margin-bottom: 1.4rem;
}

.select-time-div {
  font-size: 1.2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 11.7rem;
  margin-bottom: 2rem;
}

.select-time-div input {
  height: 1.29rem;
  width: 5rem;
  text-align: center;
}

.book-vev {
  background: #21c937;
}

.book-vev:hover {
  color: #444;
}

.book-vev:active {
  background: #fff;
}

/* login div */
#userSelection {
  max-width: 300px;
  margin: 0 auto;
  text-align: center;
}

.selectedUser {
  text-align: center;
  padding: 10px;
  border: 1px solid #ccc;
  cursor: pointer;
}

.userDropdown {
  display: none;
  text-align: center;
}

#searchInput {
  width: 100%;
  padding: 5px;
  margin-bottom: 10px;
}

#userList {
  list-style: none;
  padding: 0;
  margin: 0;
  max-height: 150px;
  overflow-y: auto;
  border: 1px solid #ccc;
}

#userList li {
  padding: 5px;
  cursor: pointer;
}

#userList li:hover {
  background-color: #f0f0f0;
}



/* Style for the sidebar */

.sidebar {
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin-left: 20px; /* Adjust the margin as needed */
  float: right; /* Float the sidebar to the right */
  width: 30vw; /* Adjust the width as needed */
}

.sidebar > div {
  border-bottom: 5px #fff solid;
}

.sidebar div {
  display: flex;
  justify-content: space-between ;
}

ul {
  padding-inline-start: 0;
}