@import url('https://fonts.googleapis.com/css2?family=Lumanosimo&display=swap');

:root {
  --background-color: #111317; /* Default color for background*/
  --contrast-color: #be1313; /* Default color for bookVev button and IT text*/
}

 /* Code for main html tags */

body {
  background-color: var(--background-color);
  color: #ffffff;

  font-family: SourceSansPro, -apple-system, system-ui;

  margin: 0;
  padding: 1rem;
  position: relative;
  min-height: calc(100vh - 2rem)  ;

  overflow-x: hidden; /* Prevent horizontal scrolling */

}

.button {
  background-color: var(--contrast-color);
  text-decoration: none;
  padding: 5pt;
  font-size: 1.2rem;
  transition: all .3s ease;
  border: 3px solid var(--highlight1);
  border-radius: 3px;
  box-shadow: 4px 2px rgba(0, 0, 0, .533);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}



/* Code for color picker */



.colorDiv {
  position: absolute;
  left: .8rem;
  bottom: .8rem;  
  z-index: 40;
}

.colorPickers {
  display: flex;
  gap: .5rem;
}

.colorPicker {
  position: absolute;
  left: 0;
  top: 0;
  pointer-events: none; /* Disable pointer events for hidden inputs */
  z-index: 0;
}



.colorPreview {
  width: 3rem;
  height: 1.35rem;
  padding: 0.0625rem 0.125rem;
  border: 0.25rem solid #ccc;
  border-radius: .2rem;

  cursor: pointer;
  z-index: 4;
}

#backgroundColorPreview:hover {
  animation: background-rainbow 5s linear infinite;
}
#contrastColorPreview:hover {
  animation: contrast-rainbow 5s linear infinite;
}

#backgroundColorPreview {
  background: var(--background-color);
}
#contrastColorPreview {
  background: var(--contrast-color);
}



#resetColorPickers {
  background-color: var(--contrast-color);

  width: 100%;
  margin-top: .4rem;
}

#resetColorPickers:hover {
  background: #be1313;
}



/* Style for the sidebar */
.sidebar {
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
  width: 25vw; /* Adjust the width as needed */
  padding-bottom: .3rem;
}

.upcomingVevSidebar{
  position: absolute;
  left: .8rem;
  top: .8rem;
}

.pastVevSidebar{
  position: absolute;
  right: .8rem;
  top: .8rem;
}


.vevUl {
  max-height: 60vh;
  overflow: auto;   /* Add scrollbars when the content exceeds the container's height */
}

/* Hide the scrollbar, but keep the functionality */
.vevUl::-webkit-scrollbar {
  width: 0;
}

.vevUl li p {
  margin-top: .8rem;
  margin-bottom: .8rem;

}


.sidebar > div, .sidebar .VevsLiDiv {
  display: flex;
  justify-content: space-between;
}



.sidebar > div {
  border-bottom: 5px #fff solid;
}

.DisplayVevsUser p {
  width: min-content;
}

.sidebar .DisplayVevsUser {
  width: 40%;
}

.sidebar .DisplayVevsOpponent {
  width: 30%;
}

.sidebar .DisplayVevsTime {
  width: 30%;
  min-width: 125px;
  text-align: right;
}



/* Code for main-content */

.mainContent {
  background: #2b303a;
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 16rem;
  height: auto;
  padding: 2rem;
  /* padding-top: 1.3rem; */
  margin-top: 10vh;
  margin-inline: auto;
}

h1 {
  font-family: Lumanosimo;
  font-size: 3.5rem;
  margin-top: 0;
  margin-bottom: 0rem;
}
.it {
  color: var(--contrast-color);
}

h2 {
  margin-bottom: 0;
}


.selectTimeDiv  {
  display: flex;

  justify-content: space-evenly;
  align-items:center;
  height: 1.5rem;
  width: 100%;
  margin-bottom: 1em;
}

.timeLabel {
  margin-right: 1rem;
}


.reasonForVevDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: .5rem;
  margin-bottom: 2rem;
  text-align: left;
  width: 80%;
}

.reasonForVevDiv input {
  height: 1.5rem;
  width: 100%;
}

.book-vev:hover {
  color: #444;
}


/* Code for footer */

footer {
  font-size: 1.1rem;

  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
}


.hiddenLink {
  text-decoration: none; /* Remove underline */
  color: #ffffff; /* Change link color */
}

.pixelnheart {
  height: 1rem;

  vertical-align: middle; /* Adjust alignment as needed */
}

.pixelnheart:hover {
  transform: rotate(360deg);
  transition: transform 0.5s; /* Add a transition for a smooth effect */
}

.goken {
  color: var(--contrast-color);
}

.goken:hover {
  color: rgb(108, 245, 255);
}




/* Code for user and opponent selection */

.book-vev:active {
  background: #fff;
}

.playerSelection {
  text-align: center;
}

#userSelection {  
  max-width: 300px;
  margin-inline: auto;
}

#opponentSelection {
  margin: .5rem;
  margin-bottom: 10px;
  width: 80% !important;
}

.selectedPlayer {
  text-align: center;
  padding: 10px;
  border: 1px solid #ccc;
  cursor: pointer;
}

.playerDropdown {
  display: none;
  text-align: center;
  margin-bottom: 4px;
  background: #0000005e;
}

.playerSearchInput{
  width: calc(100% - 10px - 3.2px);
  padding: 5px;
}

.playerList {
  list-style: none;
  padding: 0;
  margin: 0;
  overflow-y: auto;
  border: 1px solid #ccc;
  max-height: 9.875rem;
}

.playerList li {
  height:  1.35rem;
  padding: 0.3125rem;
  cursor: pointer;
}

.playerList li:hover {
  background-color: #f0f0f0;
  color: #000;
}


#userDropdown {
  width: 18.75rem;
  padding: 0;
  margin: 0;
}
.playerDropdown {
  position: absolute;
  z-index: 40;
}

#opponentDropdown {
  background-color: rgba(43, 48, 58, 0.755);
  width: 12.8rem;

}

.addUserButton {
  background: rgb(15, 15, 63);
}





/* CSS FOR COOKIE POPUP */

#cookie-consent-popup {
  display: none;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background: #f0f0f0;
  color: #000;
  padding: 10px;
  text-align: center;
  box-shadow: 0px -1px 5px rgba(0, 0, 0, 0.1);
  z-index: 100;

}

#understood-button {
  background: #21c937; /* Should be green and not contrast color */
  color: #000;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
  margin-top: 10px;
  margin-inline: auto;
}



/* CSS for howto */
.footerLinks {
  position: absolute;
  bottom: .8rem;
  right: .8rem;
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  float: right;
  align-items:baseline;
}

.footerLinks a {
  color: #000;
}

.howto {
  background: var(--contrast-color);
  text-decoration: none;
  width: max-content;

  font-family: monospace; /* Use a monospace font */
  padding: 2px 4px; /* Add some padding for a better visual appearance */
  border: 1px solid #ccc; /* Add a border to distinguish it further */
  border-radius: 4px; /* Round the corners */
}
.howto a {
  color: #000;
}



/* CSS FOR MISC */

.hidden {
  display: none;
}
.show {
  display: block;
}

.winner {
  color: #21c937;
}

.loser {
  color: red;
}

.playerWinner {
  background: var(--contrast-color);
}

/* CSS RESETTER */

ul {
  padding-inline-start: 0;
}

footer p {
  margin-top: 0;
}




/* Lighthouse optimisation */

body {
  font-size: 16px; /* Use a reasonable base font size */
}


/* Increase the size of a button */
.button {
  min-width: 48px; /* Adjust to your preferred width */
  min-height: 48px; /* Adjust to your preferred height */
}


.sr-only {
  position: absolute;
  left: -9999px;
  width: 1px;
  height: 1px;
  overflow: hidden;
}





@keyframes background-rainbow {
  0% {
    background: var(--background-color);
  }
  14% {
    background: orange;
  }
  28% {
    background: yellow;
  }
  42% {
    background: green;
  }
  57% {
    background: blue;
  }
  71% {
    background: indigo;
  }
  85% {
    background: violet;
  }
  100% {
    background: red;
  }
}

@keyframes contrast-rainbow {
  0% {
    background: var(--contrast-color);
  }
  14% {
    background: orange;
  }
  28% {
    background: yellow;
  }
  42% {
    background: green;
  }
  57% {
    background: blue;
  }
  71% {
    background: indigo;
  }
  85% {
    background: violet;
  }
  100% {
    background: red;
  }
}




.currentActiveVev {
  padding: 1rem; /* Adjust padding as needed */
  border: 1px solid #fff; /* Match the border color used in the sidebar */
  border-radius: .32rem;
}

.currentActiveVev > div {
  border-bottom: 1px solid #fff; /* Match the border color used in the sidebar */
}

.setWinnerButton {
  background-color: red;
}

.DetailedVevInfo {
  display: flex;
  justify-content: space-between;
}

.DetailedVevInfo button {
  display: none;
}
